{% extends '../templates/main.html' %}

{% block title %}Add Document{% endblock %}

{% block head %}
<style>
.label {
  width: 80px;
  display: inline-block;

}
</style>
{% endblock %}

{% block content %}
 <form name="myForm" action="{{context|raw}}/document/add" method="post">
    <input type="hidden" name="folderId" value="{{folderId}}"/>
    {%if doc._id%}
    <input type="hidden" name="_id" value="{{doc._id.toString()}}"/>
    {%endif%}
    <div>
      <label>Name:
        <input type="text" name="name" placeholder="name" value="{{doc.name}}" />
      </label>
    </div>
    {%if isFolder%}
    <input type="hidden" name="docType" value="Folder"/>
    
    {%else%}

    <input type="hidden" name="docType" value="{{doc.docType}}"/>
    <div><label>Route:
      <input type="text" name="route" placeholder="route" value="{{doc.route}}"/>
      </label>
    </div>
    <div><label>Content:
      <textarea name="content" placeholder="content">{{doc.content.toString('utf8')}}</textarea>
      </label>
    </div>
    {%endif%}
    <a class="tiny secondary button" href="{{context|raw}}/document/list?folderId={{folderId}}">Cancel</a>
    <input class="tiny button" type="submit" value="Add"/>

    
  </form>

{% endblock %}


{% block beforeEndBody %}
<script>
function bindEvent(element, type, handler) {
   if(element.addEventListener) {
      element.addEventListener(type, handler, false);
   } else {
      element.attachEvent('on'+type, handler);
   }
}

bindEvent(window, 'load', function() {
  document.myForm.name.select();
});
</script>
{% endblock %}